/* .contanier {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 2rem;
  grid-gap: 30px;
} */

.contanier.list {
  background-color: cadetblue;
}
@media screen and (max-width: 512px) {
  .contanier {
    display: block;
  }
}
