/* Header */
* {
  box-sizing: border-box;
}

.header-nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  padding: 0 15px;
  flex-direction: row;
}

.hedaer-nav h1 {
  flex: 1;
}

.header-nav input {
  padding: 5px;
}

.header-nav .header-btn {
  padding: 5px;
}

.input-serach {
  flex: 2;
  /* min-width: 100px; */
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}
